$btn-color: #00DB92;
$news-background: #7EA9AE;
$home-tittle-font-color: black;
$home-section-font-color: white;
$font-primary: "Raleway", sans-serif;
$main-tittle-size: 36px;
$secondary-tittle-size: 24px;
$category-font-size: 18px;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900 ;